@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom components all start with `serlo-*`
 * They serve as a lightwight abstraction for common elements
 * Or they need to use css selectors - with is hacky, but sometimes the only way to go
 * Use react components for more complex elements
 */

@layer components {
  .serlo-link {
    @apply break-words text-brand-700 no-underline hover:underline;
  }
  .serlo-button {
    @apply inline-block rounded-4xl px-2 py-1 transition-all;
    @apply cursor-pointer border-none font-bold no-underline;
    @apply font-serlo text-lg leading-browser tracking-slightestly-tighter;
    @apply duration-200 ease-in-out hover:no-underline;
    @apply focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-brand;
  }
  .serlo-button-blue {
    @apply serlo-button bg-brand text-white hover:bg-brand-500;
  }
  .serlo-button-green {
    @apply serlo-button bg-brandgreen text-white hover:bg-brandgreen-300;
  }
  .serlo-button-light {
    @apply serlo-button bg-brand-100 text-brand-700 hover:bg-brand hover:text-white;
  }
  .serlo-button-green-transparent {
    @apply serlo-button bg-transparent text-brandgreen hover:bg-brandgreen hover:text-white;
  }
  .serlo-button-blue-transparent {
    @apply serlo-button bg-transparent text-brand hover:bg-brand-700 hover:text-white;
  }
  .serlo-button-editor-primary {
    @apply serlo-button bg-editor-primary-200 text-almost-black hover:bg-editor-primary;
  }
  .serlo-button-editor-secondary {
    @apply serlo-button bg-editor-primary-100 text-almost-black hover:bg-editor-primary-200;
  }
  .serlo-p {
    @apply mr-side mb-block mt-0 hyphens-auto text-lg leading-cozy;
  }
  .serlo-h1 {
    @apply mr-side mb-9 mt-4 p-0 text-3.5xl font-bold;
  }
  .serlo-h2 {
    @apply mr-side mb-6 mt-0 pb-1;
    @apply hyphens-auto text-2.5xl font-bold;
    @apply border-b border-gray-300 text-gray-900;
  }
  .serlo-h3 {
    @apply mr-side mb-8 mt-0 text-1.5xl font-bold text-gray-900;
  }
  .serlo-h4 {
    @apply mr-side mb-5 mt-0 text-base-plus font-bold;
  }
  .serlo-h5 {
    @apply mr-side mb-5 mt-0;
  }
  .serlo-modal {
    @apply absolute left-1/2 -mr-[50%] max-w-[85%] -translate-x-1/2 -translate-y-1/2;
    @apply rounded-xl border-none bg-white px-2.5 pt-2.5 shadow-modal;
    @apply top-[40%] w-[500px] pb-10 outline-none;
  }
  .serlo-table {
    @apply mx-side border-separate border-spacing-0 hyphens-auto whitespace-nowrap break-normal border-brand-200 mobile:whitespace-normal;
  }
  .serlo-th {
    @apply border-b-3 border-r-3 border-brand-200 bg-brand-100 p-1.5 pl-3 text-left;
  }
  .serlo-td {
    @apply border-b-3 border-r-3 border-brand-200 p-1.5 align-top;
    > p.serlo-p {
      @apply mx-0;
    }
  }
  .serlo-ul {
    @apply mx-side mb-block mt-4 list-none pl-5;

    & > li:before {
      @apply absolute bg-brand-400 content-['_'];
      @apply -ml-5 mt-2.25 h-2.5 w-2.5 rounded-full;
    }
    & > li {
      @apply mb-2;
    }
    & > li > ul,
    & > li > ol {
      @apply !mb-4 mt-2;
    }
  }
  .serlo-ol {
    @apply mx-side mb-block mt-0 list-none pl-6 [counter-reset:list-counter];

    & > li:before {
      @apply absolute content-[counter(list-counter)] [counter-increment:list-counter];
      @apply -ml-6 rounded-full text-center font-bold;
      @apply mt-0.5 h-[17px] w-[17px] bg-brand-150 text-xs;
      @apply pt-0.25 leading-tight text-brand-700;
    }
    & > li {
      @apply mb-2;
    }
    & > li > ul,
    & > li > ol {
      @apply !mb-4 mt-2;
    }
  }
  .serlo-ol-no-before > li:before {
    @apply content-none !important;
  }
  .serlo-sub-list {
    @apply m-0 bg-white py-3 pl-2.5 pr-4;
    @apply block w-auto list-none overflow-auto text-left;
    @apply rounded-lg shadow-menu;
  }
  .serlo-sub-list-hover {
    @apply serlo-sub-list min-w-180 bg-brand-50;
  }
  .serlo-img {
    @apply inline h-auto max-w-full rounded-md;
  }
  .serlo-math-wrapper {
    @apply px-4 py-0.5 text-left;
    @apply overflow-x-auto overflow-y-hidden text-lg leading-browser;
    @apply my-[1em] px-side;
  }
  .serlo-spoiler-body {
    @apply pb-3.5 pt-6;
  }
  .serlo-solution-box {
    @apply mx-side mb-block border-l-8 border-brand-200 py-2.5;
  }
  .serlo-image-centered {
    @apply mb-block px-4 text-center;
  }
  .serlo-exercise-wrapper {
    @apply mb-2.5 mt-10;

    @media (hoverhover) {
      /* -> use tailwind stuff instead */
      input {
        @apply opacity-20 transition-opacity;
      }

      &:hover {
        /* UwU */
        input {
          @apply opacity-100;
        }
      }
    }
  }
  li.serlo-grouped-exercise-wrapper {
    counter-increment: exercises;
  }
  li.serlo-grouped-exercise-wrapper::before {
    content: counter(exercises, lower-alpha);
    @apply flex justify-center align-middle;
    @apply mx-side mb-2.5 h-7 w-7 rounded-full;
    @apply sm:absolute sm:-ml-10 sm:-mt-1;
    @apply bg-brand-200 text-xl font-bold text-brand;
  }
  .serlo-responsive-margin {
    @apply mx-side lg:mx-side-lg;
  }
  .serlo-responsive-padding {
    @apply px-side lg:px-side-lg;
  }
  .serlo-input-font-reset {
    @apply font-serlo text-base tracking-slightestly-tighter;
    @apply focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-brand;
  }
  .serlo-content-with-spacing-fixes {
    /* this feels really hacky */
    @apply break-words;

    & p:not(.slate-p) + ul {
      @apply -mt-3.5;
    }

    & li > p,
    & li > .slate-container > p {
      @apply mx-0 mb-2;
    }

    & li > .serlo-math-wrapper {
      @apply px-0;
    }

    & .serlo-spacing-fix,
    & .serlo-important,
    & .serlo-blockquote,
    & .serlo-spoiler-body,
    & .serlo-solution-box,
    & .serlo-styled-label,
    & .serlo-box,
    & .serlo-box > blockquote,
    & .slate-container,
    & li,
    & th,
    & td {
      > p:last-child,
      > .serlo-math-wrapper:last-child,
      > ul:last-child,
      > ol:last-child,
      > .serlo-image-centered:last-child,
      > .serlo-exercise-wrapper:last-child,
      > .slate-container:last-child {
        @apply mb-0;
      }

      > .serlo-math-wrapper:first-child {
        @apply mt-0;
      }

      /* fixed in postcss-nested 5.0.6 */
      > .serlo-exercise-wrapper:first-child {
        @apply mt-0;
      }
    }
  }
  .serlo-new-landing-button {
    @apply rounded-lg bg-brand text-xl font-bold text-white;
    @apply mb-5 block px-8 py-4 text-center tracking-tight;
    @apply hover:bg-brand-500 hover:no-underline;
  }
  .serlo-revision-extra-info {
    .serlo-p:last-child {
      margin-bottom: 0;
    }

    > .serlo-p {
      font-size: 1rem !important;
    }
  }
  .serlo-menu-entry-special {
    &:active,
    &:hover,
    &[aria-expanded='true'] {
      @apply bg-brand text-white;

      /*just for notifications count*/
      & span.notification-count-span {
        color: #fff;
      }
    }
  }

  .serlo-header-navtrigger[data-state='open'] {
    @apply bg-brand-700 text-white;
  }

  .serlo-fa-icon {
    @apply inline-block h-[1em] overflow-visible;
    vertical-align: -0.125em;
  }

  .serlo-editor-hacks {
    @apply text-lg leading-cozy;

    .serlo-h1 {
      @apply hyphens-auto;
    }

    div[contenteditable] .serlo-h3 {
      @apply mt-0;
    }

    a[data-key] {
      @apply hyphens-auto;
    }

    button > div > svg {
      @apply mb-1 ml-1.5 mr-1.5 mt-2;
    }

    select {
      @apply border-2;
    }

    /* remove after refactoring exercise-group */
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    .col-sm-1,
    .col-sm-11 {
      float: left;
    }

    .col-sm-1,
    .col-sm-11,
    .col-xs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-xs-12 {
      width: 100%;
    }
    @media (min-width: 768px) {
      .col-sm-1 {
        width: 8.33333333%;
      }
      .col-sm-11 {
        width: 91.66666667%;
      }
    }

    .hidden-xs {
      @media (max-width: 767px) {
        display: none !important;
      }
    }
    /* ======== */

    /* spoiler title */
    div > a > label > input {
      display: inline-block;
      width: 96%;
      padding-left: 0;
    }
  }

  .serlo-subject-icon-wrapper {
    &:hover,
    &:focus,
    &:active {
      .blue {
        @apply fill-brand;
      }
      .green {
        @apply fill-[#becd2b];
      }
    }
  }

  .serlo-subject-icon {
    @apply mx-auto mb-0 mt-4 block h-32 w-32 min-w-[10rem];
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-play-state: paused;

    .blue {
      @apply fill-brand-300;
      transition: all 0.2s ease-in-out;
    }

    .green {
      fill: #becd2b;
      transition: all 0.2s ease-in-out;
    }
  }

  .serlo-tooltip-trigger {
    @apply relative;

    &:hover > .serlo-tooltip,
    &:focus > .serlo-tooltip {
      @apply not-sr-only absolute z-[23] pb-[0.7rem] opacity-90;
    }
  }

  .serlo-button-with-wings {
    &:after,
    &:before {
      @apply pointer-events-none absolute -ml-20 mt-[-0.6rem] h-16 w-16 content-['_'];
      @apply opacity-0 transition-opacity duration-200 ease-in;
      @apply bg-[url('/_assets/img/landing/wing-left.svg')] bg-no-repeat;
    }
    &:after {
      @apply ml-4 -scale-x-100;
    }
    &:hover {
      &:after,
      &:before {
        @apply opacity-100;
      }
    }
  }

  .serlo-button-with-eyebrows {
    @apply serlo-button-with-wings;

    &:before,
    &:after {
      @apply -mt-8 bg-[url('/_assets/img/landing/wink-left.svg')] bg-[length:65%];
    }
  }

  .serlo-add-eyebrows {
    @apply serlo-button-with-eyebrows;

    &:before,
    &:after {
      @apply -ml-2 mt-[-1rem] h-10 w-10 bg-[length:75%] opacity-100;
    }

    &:before {
      @apply -ml-6;
    }
  }

  .serlo-underlined {
    @apply whitespace-nowrap bg-underlined-simple bg-bottom bg-no-repeat pr-4;
  }

  .serlo-prose-hacks {
    p {
      @apply serlo-p;
    }
    h1 {
      @apply serlo-h1;
    }
    h2 {
      @apply serlo-h2;
    }
    h3 {
      @apply serlo-h3;
    }
    h4 {
      @apply serlo-h4;
    }
    a {
      @apply serlo-link;
    }
    ul {
      @apply serlo-ul text-lg;
    }
    ol {
      @apply serlo-ol text-lg;
    }
  }

  /* heavily inspired by Shaw (https://css-tricks.com/auto-growing-inputs-textareas/#aa-other-ideas)
    this needs a data-value on the wrapping element equal to the value of the input
  */
  .serlo-autogrow-input {
    display: inline-grid;
    position: relative;

    input,
    &::after {
      width: auto;
      min-width: 4rem;
      grid-area: 1 / 2;
      padding: 0 0.75rem;
      resize: none;
    }

    &::after {
      content: attr(data-value) ' ';
      visibility: hidden;
      white-space: pre-wrap;
      margin-left: -0.5rem;
    }
  }
}

/* print and pdf styles */

@layer utilities {
  .serlo-print-style {
    @apply text-xs;

    body,
    header {
      background-color: white;
    }
    header [data-qa='quickbar-input'] {
      @apply hidden;
    }
    .print\:block {
      @apply !block;
    }
    #__next header > div {
      padding-bottom: 0;
    }
    #__next {
      .print\:hidden,
      > footer,
      #searchform,
      header > button,
      #notification-wrapper,
      nav,
      aside,
      h1 > span > svg {
        @apply !hidden;
      }
      main {
        @apply relative block w-full max-w-full;
      }
      img,
      table {
        page-break-inside: avoid;
      }
      .serlo-exercise-wrapper {
        margin-top: 0;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
      }
      .serlo-ul,
      .serlo-ol {
        list-style-type: initial;
        li:before {
          display: none;
        }
      }
      .serlo-ol {
        list-style-type: decimal;
      }
    }
    .header-breadcrumbs,
    a,
    code,
    code span,
    html,
    pre,
    pre:before,
    time {
      @apply !bg-white !text-black;
    }
  }
}
/* Some exceptional cases where we can't / don't want to set classnames directly.
 *
 * Don't set css attributes in this file. If an utility is missing, add it to the config instead.
 * Use apply and selectors to target elements.
 *
 * Try to keep this file minimal.
 *
 * Classes added in this file have no autocomplete! Add them into the config instead.
 */

/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed left-0 top-0 z-50 bg-brand;
  @apply h-1 w-full;
  @apply z-[9999];
}

/* Fancy blur effect */
#nprogress .peg {
  @apply absolute right-0 block h-full w-24;
  @apply opacity-100 shadow-brand;
  @apply -translate-y-1 rotate-3;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  @apply fixed right-4 top-4 z-50 block;
  @apply z-[9999];
}

#nprogress .spinner-icon {
  @apply h-6 w-6 rounded-full border-3 border-brand;
  @apply animate-spin-fast border-l-transparent border-t-transparent;
}

.nprogress-custom-parent {
  @apply relative hidden;
}
table.gstl_50.gssb_c {
  @apply serlo-input-font-reset z-50;
  @apply !right-1 left-1 mt-0.5 !w-auto;
  @apply w-auto sm:ml-2.5 sm:mt-0.5;

  .gssb_a td {
    @apply !whitespace-normal;
  }
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}

h1,
h2,
main b {
  @apply tracking-slightestly-tighter;
}
body {
  @apply tracking-slightly-tighter;
}

/* stop body from scrolling when a modal is open */
body.ReactModal__Body--open {
  overflow: hidden;
  height: 100vh;
}
