@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom components all start with `serlo-*`
 * They serve as a lightwight abstraction for common elements
 * Or they need to use css selectors - with is hacky, but sometimes the only way to go
 * Use react components for more complex elements
 */

@layer components {
  .serlo-make-margin {
    @apply mx-4;
  }
  .serlo-make-padding {
    @apply px-4;
  }
  .serlo-link {
    @apply text-brand no-underline break-words hover:underline;
  }
  .serlo-button {
    @apply inline-block transition-all rounded-4xl py-1 px-2;
    @apply font-bold border-none cursor-pointer no-underline;
    @apply text-lg leading-browser font-serlo tracking-slightestly-tighter;
    @apply ease-in-out duration-200;
  }
  .serlo-make-interactive-green {
    @apply text-white bg-brandgreen hover:bg-brand;
  }
  .serlo-list {
    @apply mx-4 mb-block mt-0 pl-7 list-none;
    @apply special-reset-list-counter;

    & > li:before {
      @apply absolute special-content-list-counter special-increment-list-counter;
      @apply font-bold align-middle text-center rounded-full -ml-7;
      @apply mt-0.5 bg-brand-150 w-4 h-4 text-xs;
      @apply leading-tight text-brand pt-0.25;
    }
    & > li {
      @apply mb-2;
    }
    & > li > ul,
    & > li > ol {
      @apply mt-2 !mb-4;
    }
  }
  .serlo-math-wrapper {
    @apply px-4 w-full text-left mb-block py-0.5;
    @apply text-lg leading-browser overflow-x-auto overflow-y-hidden;
    @apply serlo-make-padding;
  }
  .serlo-important {
    @apply border-l-6 border-brand p-2.5 mb-block mx-4;
    @apply serlo-make-margin;
  }
  .serlo-spoiler-body {
    @apply pt-6 pb-3.5 border-l-8 border-brand;
  }
  .serlo-solution-box {
    @apply py-2.5 serlo-make-margin mb-block border-l-8 border-brand-150;
  }
  .serlo-styled-label {
    @apply flex items-center cursor-pointer;
    > div > * {
      /* hacky selector */
      @apply ml-2;
    }
  }
  .serlo-image-centered {
    @apply px-4 mb-block text-center;
  }
  .serlo-exercise-wrapper {
    @apply mt-10 mb-2.5;

    @media (hoverhover) {
      /* -> use tailwind stuff instead */
      input {
        @apply opacity-20 transition-opacity;
      }

      &:hover {
        /* UwU */
        input {
          @apply opacity-100;
        }
      }
    }
  }
  .serlo-input-font-reset {
    @apply text-base tracking-slightestly-tighter font-serlo;
  }
  .serlo-content-with-spacing-fixes {
    /* this feels really hacky */
    @apply break-words;

    & p + ul {
      @apply -mt-3.5;
    }

    & li > p {
      @apply mx-0 mb-2;
    }

    & li > .serlo-math-wrapper {
      @apply px-0;
    }

    & .serlo-important,
    & .serlo-spoiler-body,
    & .serlo-solution-box,
    & .serlo-styled-label,
    & li,
    & th,
    & td {
      > p:last-child,
      > .serlo-math-wrapper:last-child,
      > ul:last-child,
      > ol:last-child,
      > .serlo-image-centered:last-child,
      > .serlo-exercise-wrapper:last-child {
        @apply mb-0;
      }

      /* this selector causes a bug with postcss-nested > 5.0.1, so we need 5.0.1 for this to work
       * It the bug is fixed, revert so curent version again
       */
      > .serlo-exercise-wrapper:first-child {
        @apply mt-0;
      }
    }
  }
}

/* Some exceptional cases where we can't / don't want to set classnames directly.
 *
 * Don't set css attributes in this file. If an utility is missing, add it to the config instead.
 * Use apply and selectors to target elements.
 *
 * Try to keep this file minimal.
 *
 * Classes added in this file have no autocomplete! Add them into the config instead.
 */

/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-brand fixed z-50 top-0 left-0;
  @apply w-full h-1;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute right-0 w-24 h-full;
  @apply shadow-brand opacity-100 special-shadow-transform;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  @apply block fixed z-50 top-4 right-4;
}

#nprogress .spinner-icon {
  @apply w-6 h-6 border-3 border-brand rounded-full;
  @apply special-border-half-transparent animate-spin-fast;
}

.nprogress-custom-parent {
  @apply hidden relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}

@media print {
  html {
    @apply text-xs;
  }
  body {
    @apply bg-white;
  }
  #__next {
    > header,
    > footer,
    #notification-wrapper,
    nav,
    button,
    aside,
    div.cookie-bar,
    h1 > span > svg,
    div.video,
    figure.video,
    .comment-area-container {
      @apply !hidden;
    }
    main {
      @apply block w-full max-w-full relative;
    }
  }
  .header-breadcrumbs,
  a,
  code,
  code span,
  html,
  pre,
  pre:before,
  time {
    @apply !bg-white !text-black;
  }
}

h1,
h2,
main b {
  @apply tracking-slightestly-tighter;
}
body {
  @apply tracking-slightly-tighter;
}

table.gstl_50.gssb_c {
  @apply z-50 serlo-input-font-reset;
  @apply mt-0.5 !left-1 !right-1 !w-auto;
  @apply sm:ml-2.5 sm:mt-0.5 w-auto;

  .gssb_a td {
    @apply !whitespace-normal;
  }
}
