# This check exists to make sure you don't deploy changes
# in the .env.* files that were ment for testing
# if you are sure you want to keep the changes you have to update the checksums
# linux: `sha256sum .env.local`
# mac:   `openssl sha256 .env.local`
name: Env
on:
  push:
    branches:
      - staging
      - production
  pull_request:
jobs:
  local:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "ba28ea0a50acdf90223f0ea36add446a857974b5ba6b381e5db2ae4f46b28770 ./apps/web/.env" | sha256sum --check --quiet
  production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "490afcea8853957cd7e19d89c909fb3e2d8c1a74ec24a79f41c5a84add468f57 ./apps/web/.env.production" | sha256sum --check --quiet
